body{
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #777777;
    background-color: #ffffff;
}
/************HEADER**************/
header{
    background: url("../img/header-bg.jpg")no-repeat scroll 0px 0px / cover;
    text-align: center;
    color: #ffffff;
}
.header-text{
    padding-top: 300px;
    padding-bottom: 200px;
}
.header-top-text{
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}
.header-bottom-text{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 75px;
    line-height: 75px;
    font-weight: 700;
    margin-bottom: 50px;
}
.buttons{
    color: #ffffff;
    background-color: #fed136;
    font-size: 18px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight:700;
    border-radius: 3px;
    padding: 20px 45px;
}
.buttons:hover{
    text-decoration: none;
    background-color: #fec503;
    color: #ffffff;
}
/************TOP-FIXED NAVIGATION************/
.navbar-fixed-top{
    background: transparent;
    border-color: transparent;
    padding: 10px 0;
}
.navbar-solid{
    background-color:#222222;
    padding: 10px 0;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}
.best-nav .header-nav ul li a{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}
.best-nav .header-nav ul li a:hover{
    color: #fec503;
}
.navbar-header .logo a{
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: 2em;
}
.navbar-header .logo a:hover{
    color: #fec503;
    text-decoration: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
    color: #ffffff;
    background-color: #fec503;
    border-radius: 3px;
}
/************SERVICES**************/
.all-content{
    padding: 150px 0;
}
.content-title-top{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 15px;
}
.content-title-bottom{
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}
.bg-icons{
    color: #fed136;
}
.main-title{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #333333;
    font-weight: 700;
    margin: 15px 0;
}
.main-text{
    line-height: 1.75;
}
/************PORTFOLIO**************/
.bg-individual{
    background-color: #f7f7f7;
}
.portfolio-text{
    background-color: #ffffff;
    text-align: center;
    padding: 25px;
    max-width: 400px;
    margin: 0 auto;
}
.pf-title{
    margin: 0 auto;
}
.pf-text-bottom{
    margin: 0 auto;
}
.pf-box{
    right: 0;
    margin: 0 0 30px;
}
.pf-box .pf-modal-link{
    position: relative;
    max-height: 400px;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}
.pf-modal-link img{
    margin: 0 auto;
}
.pf-box .link-top{
    position: absolute;
    background-color: rgba(254,209,54,.9);
    width: 100%;
    height: 100%;
    opacity: 0;
}
.pf-box .link-top:hover{
    opacity: 1;
}
.link-top .link{
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    color: #ffffff;
}
.link-top span i{
    margin-top: -25px;
}
/************ABOUT**************/
.item-about{
    list-style: none;
    padding: 0;
    position: relative;
}
.item-about:before{
    position: absolute;
    top: 0;
    bottom: 0;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 50%;
    margin-left: -1.5px;
}
.item-about li{
    position: relative;
    min-height: 170px;
}
.item-about-right{
    margin-top: 120px;
}
.item-about-left{
    margin-top: 120px;
}
.item-about li .item-about-img{
    width: 170px;
    height: 170px;
    margin-left: -85px;
    left: 50%;
    position: absolute;
    z-index: 100;
    background-color: #fed136;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
}
.item-about li .item-about-text{
    position: relative;
    float: left;
    text-align: right;
    width: 41%;
    padding: 0 20px 20px 100px;
}
.item-about>li.item-about-right>.item-about-text{
    text-align: left;
    padding: 0px 100px 20px 20px;
    float: right;
}
.item-about-img .item-text-center{
    text-transform: uppercase;
    color: white;
    line-height: 26px;
    margin-top: 40px;
}
/************TEAM**************/
.team-content{
    text-align: center;
    margin-bottom: 50px;
}
.team-content img{
    border: 7px solid #fff;
    margin-left: 50px;
}
.team-content .team-title{
    margin-bottom: 10px;
}
.team-content .team-names{
    margin-top: 25px;
    margin-bottom: 0;
}
.team-text{
    font-size: 16px;
}
.partner-label{
    padding: 50px;
}
/************CONTACT**************/
.contact-area{
    background: #222222 url("../img/map-image.png") no-repeat center;
}
.contact-area-title{
    color: #ffffff;
}
.form-style{
    margin-bottom: 25px;
}
.form-style input,
.form-style textarea{
    padding: 26px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #bbbbbb;
    font-weight: 600;
   text-transform: uppercase;
}
.form-style input:focus,
.form-style textarea:focus{
    border: 2px solid #fed136;
}
.buttons-area{
    margin-top: 25px;
}
/************FOOTER**************/
footer{
    padding: 20px 0;
}
.ft-style{
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sign{
    color: #222222;
}
.social-links li a{
    display: block;
    background: #222222;
    height: 40px;
    width: 40px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 100%;
    padding-top: 4px;
}
.social-links li a:hover{
    background-color: #fed136;
}
.ft-style li a{
    color:#fed136;
}
/************PORTFOLIO MODALS*************/
.pf-btn{
    background-color: #fed136;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pf-btn:hover{
    background-color: #fec503;
    color: #ffffff;
}
.pf-modal-text{
    color: #222222;
    line-height: 1.75;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Portfolio-modals h2{
    margin-top: 50px;
}
.Portfolio-modals .pf-modal-close{
    font-size: 50px;
    color: #fed136;
    opacity: 3.2;
}
.Portfolio-modals img{
    margin: 0 auto;
}
/************RESPONSIVE DESIGN*************/
@media (max-width: 992px) {
    .item-about li {
        min-height: 100px;
    }
    .item-about li .item-about-img{
        width: 100px;
        height: 100px;
        margin-left: -50px;
        left: 50%;
    }
    .item-about-img .item-text-center {
        line-height: 20px;
        margin-top: 15px;
        font-size: 14px;
    }
    .item-about>li.item-about-left>.item-about-text{
        padding: 0 20px 20px;
    }
    .item-about>li.item-about-right>.item-about-text {
        padding: 0 20px 20px;
    }
    .team-content img {
        margin: 50px auto;
    }
    .partner-label img{
        margin: 30px auto;
    }
}
@media (max-width: 768px) {
    .header-top-text{
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 25px;
    }
    .header-bottom-text{
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 50px;
    }
    .all-content{
        padding: 100px 0;
    }
    .navbar-header .logo a {
        font-size: 1.25em;
        float: left;
        height: 50px;
        padding: 15px 15px;
        line-height: 20px;
    }
    .navbar-default .navbar-toggle {
        background-color: #fed136;
        border-color: #fed136;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #fed136;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .navbar-default .navbar-collapse {
        border-color: rgba(255,255,255,.02);
    }
    .pf-box{
        right: 0;
        margin: 0 0 15px;
    }
    .pf-box a{
        position: relative;
        max-height: 400px;
        display: block;
        margin: 0 auto;
    }
    .item-about:before{
        left: 40px;
    }
    .item-about li {
        position: relative;
        min-height: 80px;
    }
    .item-about .about-top{
        margin-top: 0;
    }
    .item-about li .item-about-img{
        width: 80px;
        height: 80px;
        margin-left: 0;
        left: 0;
    }
    .item-about>li.item-about-left>.item-about-text{
        float: right;
        text-align: left;
        width: 100%;
        padding: 0 20px 0 100px;
    }
    .item-about>li.item-about-right>.item-about-text {
        text-align: left;
        float: right;
        width: 100%;
        padding: 0 20px 0 100px;
    }
    .item-about-img .item-text-center{
        line-height: 14px;
        margin-top: 12px;
        font-size: 10px;
    }
}

